
h1 {
  color:  brown;
}

body {
  background:
    
     top center / 200px 200px /* position / size */
     no-repeat                /* repeat */
     fixed                    /* attachment */
     padding-box              /* origin */
     content-box              /* clip */
     beige;                     /* color */
}

.div-body-width {
     
      float: left;
      position: relative;
      left: 35%;
    }
  

p {
    text-align: center;
}

button {
    margin: auto;
    width: 30%;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    color: aliceblue;
    background-color: #d6a844;
    text-align: center;
}

image{
	align: center;
	margin-left: auto;
    margin-right: auto;
}